Package: de.maxiwee.nopill
Name: NoPill
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: maxiwee
Author: maxiwee
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
